[Desktop Entry]
Encoding=UTF-8
Name=Link to Preview attachment Cycler.pyCycler.py7 KB
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=5fe1bbceba&attid=0.1&permmsgid=msg-f:1647664385159359766&th=16ddae07527c6d16&view=att&disp=safe&realattid=f_k1v0dlmd0
Icon=text-html
